.our-services-section{
    background : url('../../Image/Deluxe &studio apartment 1.png');
    background-size : cover;
    background-position : center;
    height : 384px;
    margin-top : 51px;
}
.our-services-text{
    margin : 0 auto;
}
/* .our-services{
    width : fit-content;
} */
.our-services div p{
   margin-bottom : 0;
   text-align : left;
}
.our-services div p::before{

 }

@media(max-width : 768px){

}


@media(min-width : 768px){
    .our-services-section{
        margin-top : 104px;
        margin-bottom : 104px;
    }
    .first-list p{
        text-align : right;
    }


}