.our-services-section{
    background : url('../../Image/Deluxe &studio apartment 1.png');
    background-size : cover;
    background-position : center;
    height : 384px;
    margin-top : 51px;
}
.our-services{
    width : 250px;
    margin : 0 auto;
}
/* .our-services{
    width : fit-content;
} */

@media(max-width : 768px){

}


@media(min-width : 768px){
    .our-services-section{
        margin-top : 104px;
        margin-bottom : 104px;
    }
    .our-services{
        width : 500px;
        margin : 0 auto;
    }
    .first-list p{
        text-align : right;
    }


}