.apartments-section{
    border-top: 0.5px solid #5E5745;
    border-bottom: 0.5px solid #5E5745;
}
.towels{
    /* width : 347px; */
    height : 399px;
    /* max-width : 100%; */
}
.towels-section img{
    margin : 0 auto;
}
.towels-section{
    padding-top : 76px;
    padding-bottom : 76px;
    border-right: 0.5px solid #5E5745;
    /* border-bottom: 0.5px solid #5E5745; */
}
.options-header{
    border-top: 0.5px solid #5E5745;
}
.options{
    width : fit-content;
    margin : 0 auto;
}
.options ul li{
    list-style : none;
}
.rooms-and-suites{
    border-top: 0.5px solid #5E5745;
    padding-top : 76px;
    padding-bottom : 76px;
}

@media(min-width : 768px){
    .towels{
        width : 583px;
        height : 681px;
        margin : 0 auto;
    }
    .options-header{
        border-top: 0;
        paddiing : 0;
    }
    .ad{
        padding-bottom : 20px !important;
    }
    .rooms-and-suites{
        border-top : 0;
        
    }
}