.left-image{
    background-image : url('../../Image/twin room b.png');
    background-size : cover;
    background-position : right;

}
.main-image{
    background-image : url('../../Image/suite apartment a.png');
    background-size : cover;
    background-position : center;
}
.right-image{
    background-image : url('../../Image/Deluxe &studio apartment c.png');
    background-size : cover;
    background-position : left;
}

.gallery{
    padding : 78px 0 80px;
    margin-bottom : 88px;
    border-bottom: 0.5px solid #5E5745;
}
.gallery-title{
    color : #FFA02E;
    margin-bottom : 78px;
}
.gallery-images{
    justify-content : space-between;
}
.left-image, .right-image{
    width: 20%;
    height : 197px;
    margin-top : 38.5px;
}

.main-image{
    width : 314px;
    height : 274px;
}
.main-image img{
 max-width : 100%;
}



@media(min-width : 768px){
    .gallery{
        padding : 110px 0 169px;
        border-bottom : 0px;
    }
    .gallery-title{
        color : #FFA02E;
        margin-bottom : 69px;
    }
    .left-image, .right-image{
        height : 353px;
        margin-top : 67.5px;
    }
    .main-image{
        width : 50%;
        height : 483px;
    }
    .main-image img{
        max-width : 100%;
       }
}

