.footer{
    background-image : url('../../Image/Rectangle 38.png');
    background-size : cover;
    bakground-position : center;
}
.map{
    background-image : url('../../Image/Screenshot 2022-10-05 at 10.15 1.png') ;
    background-size : cover;
    bakground-position : center;
    width : 343px;
    height : 195px;
    margin : 0 auto;
    position : relative;
    top : -55px
}
.logo-section img{
    margin : 0 auto;
}
.buttons-section{
    padding : 60px 0;  
    margin-top : 32px;
    border-top : 1px solid  #FFFFFF;
    border-bottom : 1px solid  #FFFFFF;
}
.first-group, .second-group{
    display : inline-block;
    margin : 0 auto;
    
}
.address{
    margin: 0 auto;
}
.buttons-section ul li a{
    text-decoration : none;
    color : white;
}
.buttons-section ul li a :hover{
    color : #FFA02E;
}
.buttons-contain {
    width : fit-content;
    margin : 0 auto;
}
.home-link, .rooms-link{
    list-style : none;
    /* margin-right : 20px; */
}
.copy-right{
    padding : 56px 0 88px 0;
}





@media(min-width : 768px){
    .map-section{
        padding-top : 48px;
    }
    .map{
        width : 561px;
        height : 283px;
        margin : 0 auto 30px;
        position : relative;
        top : 0;
    }
    .logo-section {
        padding : 75px 0 47px 0;
    }
    .address small,.logo-image{
        float :right;
        margin : 0 110px 0;
    }
    /* .buttons-section{
        display : flex;
    } */
    
    .first-group, .second-group{
        display : inline-block;
    }
    .buttons-section{
    
        padding : 20px 0; 
    }
    .buttons-section ul,.buttons-section {
        display : flex;
        text-decoration : none;
        color : white;
        margin : 0;
        text-align : center;
    }
    .buttons-contain ul li{
        margin : 0 20px;
    }
    .rooms-link{
        margin-right : 0;
        list-style : disc;
    }

    
}